# system files
.DS_Store
Thumbs.db

# environment files
.env
.env.local
.env.production

# dependencies
node_modules/
vendor/

# build files
build/
dist/
.next/
out/

# flutter/dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/
